@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #7d4b5f;
  background-color: #f8ece7; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  color: #7d4b5f;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 44px;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

.light {
  color: #9f5f6e;
}
