.container-fechamento-venda {
    display: flex;
    height: 100vh;
  }
  
  .container-content {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    margin-left: 250px;
    flex-grow: 1;
  }
  
  .title-page {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  /* Seção de produtos */
  .section-produtos {
    display: flex;
    flex-grow: 1;
  }
  
  .lista-produtos {
    flex-grow: 1;
  }
  
  .produto-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 1rem;
  }
  
  .produto-item span {
    font-size: 1.125rem;
  }
  
  .codigo-input,
  .valor-input,
  .cashback-input,
  .desconto-input {
    width: 8rem;
    padding: 0.5rem;
    border: 2px solid #9b5c6f;
    border-radius: 0.375rem;
    background-color: #f8fafc;
  }

  ::placeholder {
    color: #9b5c6f;
    opacity: 1; 
  }

  :-ms-input-placeholder { 
    color: #9b5c6f; 
  }

  ::-ms-input-placeholder { 
    color: #9b5c6f; 
  }
  
  .add-produto-btn {
    margin-left: 0.5rem;
    color: #9b5c6f;
  }
  
  .add-produto-btn:hover {
    color: #059669;
  }
  
  .add-produto-btn:disabled {
    color: #6b7280;
  }
  
  /* Spinner */
  .spinner {
    animation: spin 1s linear infinite;
    height: 1.25rem;
    width: 1.25rem;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Seção de pagamento */
  .section-pagamento {
    margin-left: 2.5rem;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .input-group label {
    width: 6rem;
  }
  
  .metodo-pagamento-btn {
    margin-right: 0.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    background-color: #9b5c6f;
    cursor: pointer;
  }
  
  .metodo-pagamento-btn.selected {
    background-color: #059669;
    color: #f8fafc;
  }
  
  /* Valor total */
  .valor-total {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  /* Botões de ação */
  .acao-botoes {
    display: flex;
    margin-top: 1rem;
  }
  
  .cancelar-btn,
  .finalizar-btn {
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
  }
  
  .cancelar-btn {
    background-color: #9b5c6f;
    color: #f8fafc;
    margin-right: 0.5rem;
  }
  
  .finalizar-btn {
    background-color: #9b5c6f;
    color: #f8fafc;
  }
  
  .finalizar-btn:hover {
    background-color: #059669;
  }

  @media (max-width: 768px) {
    .container-content {
      padding: 1rem;
      margin-left: 0; /* Ajustar a margem esquerda para dispositivos menores */
      flex-direction: column;
    }
  
    .title-page {
      font-size: 1.5rem;
    }
  
    .section-produtos,
    .lista-produtos {
      flex-direction: column;
      align-items: center; /* Centralizar os produtos */
    }
  
    .produto-item {
      flex-direction: column; /* Empilhar os elementos do produto verticalmente */
      align-items: center;
      width: 100%; /* Utilizar a largura completa */
    }
  
    .codigo-input,
    .valor-input,
    .cashback-input,
    .desconto-input {
      width: 100%; /* Fazer com que os inputs ocupem a largura total */
    }
  
    .input-group {
      flex-direction: column;
      align-items: center; /* Centralizar labels e inputs */
    }
  
    .metodo-pagamento-btn {
      width: 100%; /* Botões de pagamento ocupam a largura total */
      margin-bottom: 0.5rem; /* Adicionar espaço entre os botões */
    }
  
    .acao-botoes {
      flex-direction: column;
      width: 100%;
    }
  
    .cancelar-btn,
    .finalizar-btn {
      width: 100%; /* Fazer com que os botões de ação ocupem a largura total */
      margin-bottom: 0.5rem;
    }
  }
  